In [221]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [222]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

backer_df = pd.read_csv('backer_info.csv')
backer_df.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [223]:
# Iterate through the backers DataFrame and convert each row to a dictionary.
data_rows = []
for i, row in backer_df.iterrows():
    data_rows.append(row[0].split(","))
backer_id=[]
cf_id=[]
name=[]
email=[]
data_rows
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
for x in data_rows:
    backer_id.append(x[0].split(":")[1])
    cf_id.append(x[1].split(":")[1])
    name.append(x[2].split(":")[1])
    email.append(x[3].split(":")[1])
    # Append the list of values for each row to a list. 
    
# Print out the list of values for each row.

In [224]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 
backer_new_df = pd.DataFrame({
    "backer_id": backer_id,
    "cf_id": cf_id,
    "name": name,
    "email": email
    
})
backer_new_df.head()

  backer_id cf_id                 name                      email
0   "av166"   968     "Angelo Vincent"       "avincent@live.com"}
1   "ha127"   563      "Hubert Arnold"      "harnold@yandex.com"}
2   "lg794"    65       "Loris Goulet"      "lgoulet@yandex.com"}
3   "tb566"   563   "Teodora Brunelli"   "tbrunelli@outlook.com"}
4   "lh506"   563         "Lexie Hunt"          "lhunt@live.com"}

In [225]:
backer_new_df["backer_id"] = backer_new_df["backer_id"].str.replace('"',"")
backer_new_df["name"] = backer_new_df["name"].str.replace('"',"")
backer_new_df["email"] = backer_new_df["email"].str.replace('"',"")
backer_new_df["email"] = backer_new_df["email"].str.replace('}',"")
backer_new_df.head()

/var/folders/t9/hwp8p4gn77df1x1vfzhg19d00000gn/T/ipykernel_48490/349245399.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  backer_new_df["email"] = backer_new_df["email"].str.replace('}',"")

  backer_id cf_id               name                   email
0     av166   968     Angelo Vincent       avincent@live.com
1     ha127   563      Hubert Arnold      harnold@yandex.com
2     lg794    65       Loris Goulet      lgoulet@yandex.com
3     tb566   563   Teodora Brunelli   tbrunelli@outlook.com
4     lh506   563         Lexie Hunt          lhunt@live.com

In [226]:
backer_new_df["name"] = backer_new_df["name"].str.lstrip()
backer_new_df["email"] = backer_new_df["email"].str.lstrip()
backer_new_df["backer_id"] = backer_new_df["backer_id"].str.lstrip()

In [227]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backer_new_df.to_csv("backer_info_update.csv", encoding='utf8', index=False)

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [228]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [229]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".

In [230]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".

In [231]:
# Extract the name from the backer_info column and add it as a new column called "name".

In [232]:
# Extract the email from the backer_info column and add it as a new column called "email".

In [233]:
# Create a new DataFrame with the appropriate columns.

In [234]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [235]:
# Check data types.
backer_two = backer_new_df
backer_two.dtypes

backer_id    object
cf_id        object
name         object
email        object
dtype: object

In [236]:
# Convert cf_id to an integer if necessary.
backer_two["cf_id"] = backer_two["cf_id"].astype('int64')
backer_new_df.dtypes

backer_id    object
cf_id         int64
name         object
email        object
dtype: object

In [237]:
# Split the "name" column into "first_name" and "last_name" columns.
backer_two[["first_name","last_name"]] = backer_two["name"].str.split(' ',n=1,expand=True)
backer_two

,backer_id,cf_id,name,email,first_name,last_name
0,av166,968,Angelo Vincent,avincent@live.com,Angelo,Vincent
1,ha127,563,Hubert Arnold,harnold@yandex.com,Hubert,Arnold
2,lg794,65,Loris Goulet,lgoulet@yandex.com,Loris,Goulet
3,tb566,563,Teodora Brunelli,tbrunelli@outlook.com,Teodora,Brunelli
4,lh506,563,Lexie Hunt,lhunt@live.com,Lexie,Hunt
...,...,...,...,...,...,...
8170,st581,65,Serita Thebault,sthebault@yandex.com,Serita,Thebault
8171,gf637,563,Glenn Foerstner,gfoerstner@yahoo.com,Glenn,Foerstner
8172,rc983,1114,Robt Collin,rcollin@outlook.com,Robt,Collin
8173,cz381,65,Corina Zappa,czappa@outlook.com,Corina,Zappa
8174,fg535,65,Freeman Gibbs,fgibbs@outlook.com,Freeman,Gibbs

In [238]:
#  Drop the name column
backer_two.drop('name', axis=1, inplace=True)
backer_two

# Reorder the columns
reorder_cols = ['backer_id','cf_id','first_name','last_name','email']
backer_two = backer_two[reorder_cols]
backer_two.head()

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com

In [239]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backer_two.to_csv("backers.csv", encoding='utf8', index=False)